{% extends 'base.html' %}
{% block body %}
<div class="col-lg-12"> 		
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Todos os perfis</strong>
		</div>
		{% if perfis %}
		<ul class="list-group">
			{% for perfil in perfis %}
				<li class="list-group-item">
					<a href = "{% url 'exibir' perfil.id %}">	{{ perfil.nome }} / {{ perfil.email }}
					</a>	
				</li>
			{% endfor %}
		{% else %}	
			<p>Não há perfis cadastrados</p>
		{% endif %}
		</ul>
	</div>	

    <div class="panel panel-default">
        {% with total=perfil_logado.contatos.count %}
            {% if total %}
                <div class="panel-heading">
                    <strong> {{ total }}  
                        Contato{{ total|pluralize }}
                    </strong>
                </div>
                <ul class="list-group">
                    {% for perfil in perfil_logado.contatos.all %}
                        <li class = "list-group-item">
                            <a href = "{% url 'exibir' perfil.id %}">
                                {{ perfil }}
                            </a>
                            <a class="pull-right" href="{% url 'desfazer' perfil.id %}">
                                desfazer amizade
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="panel-body">
                    Não há contatos :(
                </div>    
            {% endif %}
        {% endwith %}    
    </div>    

    <div class="panel panel-default">
        {% with total=perfil_logado.convites_recebidos.count %}

            {% if total %}
                <div class="panel-heading">
                    <strong> {{ total }}  
                    Convite{{ total|pluralize }} aguardando aprovação</strong>
                </div>
                <ul class="list-group">
                    {% for convite in perfil_logado.convites_recebidos.all %}
                        <li class = "list-group-item">
                           <ul class = "list-inline">
                                <li class = "list-inline-item">
                                    <a href = "{% url 'exibir' convite.solicitante.id %}">
                                        {{convite.solicitante.nome}}
                                    </a>
                                </li>
                                <li class = "list-inline-item pull-right">
                                    <a href = "{% url 'recusar' convite.id %}">recusar</a>
                                </li>
                                <li class = "list-inline-item pull-right">
                                    <a href = "{% url 'aceitar' convite.id %}">aceitar</a>
                                </li>
                        
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="panel-body">
                    Não há convites
                </div>    
            {% endif %}
        {% endwith %}    
    </div>
    <div class="panel panel-default">
    <div class="panel-body">
        <a href = "{% url 'timeline'%}">Ver timeline</a>
    </div> 
    </div>
</div>
{% endblock %}