{% extends 'base.html' %}
{% block body %}
<div class = "col-lg-12">
		<h2 style="margin-top: 0px">{{ perfil.nome }}</h2>
		<address>			
			<a href = "mailto:{{ perfil.email }}">{{ perfil.email }}</a>
			<br>
			<strong>{{ perfil.nome_empresa }}</strong>
		
		</address>

		<a href = "{% url 'convidar' perfil.id %}">
			Convidar
		</a>

		<div>
		<h2>Produtos a venda</h2>
		{%if produto is empty%}
			<h2>Este perfil não possui nenhum produto a venda<h2>
		{%else%}
		{%for p in produto%}
			<h4>{{p.nome_produto}}</h4>
			<h4>{{p.preco}}</h4>
			{%if not perfil_logado%}
			<form method="GET" action="{% url 'comprar_produto' p.id %}">
 <h4>Comprar produto</h4>
    <input type="number" placeholder="Depositar" aria-label="" name="dinheiro">
    <button type="submit">Comprar</button> 
</form>
{%elif perfil_logado%}
<form method="GET" action="{% url 'descontar_produto' p.id %}">
 <h4>Dar desconto</h4>
    <input type="number" placeholder="Descontar" aria-label="" name="desconto">
    <button type="submit">Desconto</button> 
</form>
{%endif%}
		{%endfor%}
		{%endif%}
		<div>
</div>		
{% endblock %}		