{% load i18n %}{% autoescape off %}
{% blocktrans %}Você recebeu essa requisição poi foi solicitada a mudança de senha deste usuario: {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}O {{ site_name }} agradece{% endblocktrans %}

{% endautoescape %}