{% load i18n %}{% autoescape off %}
{% blocktrans %}Você recebeu essa requisição poi foi solicitada a mudança de senha deste usuario: {{ site_name }}.{% endblocktrans %}

{% trans "Por favor siga a pagina e escolha uma nova senhao:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Obrigado por usar nosso site" %}

{% blocktrans %}O {{ site_name }} agradece{% endblocktrans %}

{% endautoescape %}