{% extends 'base.html' %}
{% block body %}
<br>
    <head></head>
    <body>
        <h3>Posts</h3>

        {%if posts|length > 0%}
            {% for p in posts %}
                <div>
                    <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 10px; margin-bottom: 0px;">
                <h2>{{p.texto}}</h2>
                <p>{{p.data}}</p>
                {% if p.photo_post %}
                <p><img src="{{ p.photo_post.url}}" height="100"></p>
                {%endif%}
                <!--<a href="{% url 'excluir_post' p.id %}">Deletar Post</a>-->
                    {% if p in usuarioLogado.timeline.all %}
                        <button onclick="confirmarDelete()">Deletar postagem</button>

                    <script>
                        function confirmarDelete()
                        {
                        var x;
                        var r=confirm("Excluir postagem?");
                        if (r==true)
                          {
                          location.href="{% url 'excluir_post' p.id %}"
                          }
                        }
                    </script>

                    {% endif %}


                </div>
            {% endfor %}

            <a href="{% url 'incluir_post' %}">Adicionar</a>
        <a href="{% url 'index' %}">Voltar ao inicio</a>
            {%else%}
        <a href="{% url 'incluir_post' %}">Adicionar</a>

            	<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
         <a href="{% url 'incluir_post' %}">Adicionar postagem</a>
        <br>
        <br>
        <br>
        <a href="{% url 'index' %}">Voltar ao inicio</a>
            {%else%}
        <a href="{% url 'incluir_post' %}">Adicionar postagem</a>
        </br>
        <br>
        <br>
        <a href="{% url 'index' %}">Voltar ao inicio</a>
        {%endif%}
    </body>
</html>
{%endblock%}